@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Nunito', sans-serif;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #1f2937;
    border-radius: 2px;
  }
  ::-webkit-scrollbar-thumb {
    background: #4b5563;
    border-radius: 2px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
  }
}

@layer utilities {
  .font-uno {
    font-family: 'Boogaloo', cursive;
  }

  .font-body {
    font-family: 'Nunito', sans-serif;
  }
}
